* {
    font-family: 'Jetbrains Mono';
}

body {
    background:rgb(32, 32, 32);
}

.title {
    text-align: center;
    color:whitesmoke;
}

.container {
    width:60vw;
    height: 75vw;
    background:transparent;
    border:1px solid silver;
    border-radius: 5px;
    margin:auto;
    display: flex;
    justify-content: center;
    padding:10px;
}

#txtItem {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border-radius:5px;
    width: 65%;
    height: 40px;
    display:block;
    margin:auto;
    background:whitesmoke;
}
#txtItem:focus {
    border-bottom: 5px solid dodgerblue;
}